/*This is the universal selector*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*This is the webpage background color*/
body {
    background-color: #d9dcd6;
}

/*This styles the header*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*This controls the placement and font size of the 'Horiseon' title*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*This controls the color of 'seo' in the title*/
.header h1 .seo {
    color: #d9dcd6;
}

/*This section controls the header navigation links*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*This gives the list in the navigation bar their style*/
.header nav ul {
    list-style-type: none;
}

/*This puts the navi links inline*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/*This controls the placement of the header/banner image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    display: block;
}

/*This controls the placement of the pictures within each content section*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*This controls the placement of the content boxes*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*This controls the placement of the right benefits box*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*This section styles each point in the right side benefits container */
.benefit-bullet {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-bullet h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-bullet img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*This section controls our containers for Search Engine Optiomization and Social Media Marketing*/
.section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.section img {
    max-height: 200px;
}

.section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*This is our footer styling*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Controls the size of the second text row in the footer*/
.footer h4 {
    font-size: 20px; 
}
